@{
    ViewData["Title"] = "League of Legends Project";
}

<div>
    <h1 class="text" style="color:yellow">WELCOME TO LEAGUE OF LEGENDS FORUM</h1>
    <img src="~/img/bg.png" alt="Background LOL" class="img-index" />
</div>
