@{ ViewData["Title"] = "League of Legends Build Guides";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<link rel="stylesheet" href="~/css/site.css" />
<div class="content">
    <div class="guide-content" style="background-color: rgba(128, 128, 128, 0.082)">
        <h2 style="text-align: center"><b>League of Legends rune guide for different Roles and playstyles</b></h2>
        <br />
        <img src="~/img/RunesAndSpells/Runes.png" alt="Full Runes" class="img-guides" style="width: 100%" />
        <br />
        <br />
        <!-- TOP LANE RUNES-->
        <h2 style="margin-top: 10px"><strong>TOP LANE RUNES</strong></h2>
        <br />
        <p>
            Top lane is the most isolated position, but as such, it allows the player to be in control of the laning
            phase and is open to many different picks and playstyles. Players can choose to play a tank and slowly farm
            toward late-game sustainability or play aggressively with bruisers.
        </p>
        <br />

        <!-- Runes for tanks -->
        <h4><b>Runes for tanks</b></h4>
        <br />
        <p>
            Grasp of the Undying is the core rune here, which ensures that you get more health over the entire duration
            of the game while also dealing a lot of damage every four seconds. Demolish will allow you to take tower plates
            early on quite quickly and ensure you’re able to splitpush easily in the mid game. Overgrowth will keep your
            health pool growing as you farm minions, making you an unkillable machine in the later stages of the game.
        </p>
        <br />
        <img src="~/img/RunesAndSpells/Resolve.png" alt="Resolve Runes" class="img-guides" style="width: 100%" />
        <br />
        <br />

        <!-- Runes for Bruisers -->
        <h4><b>Runes for bruisers</b></h4>
        <br />
        <p>
            Conqueror is the bread and butter keystone of such champions, ensuring you get stronger as the combat time grows longer.
            Triumph will ensure you come out healthy after those early dives while Tenacity makes sure you don’t get crowd controlled
            for too long. Last Stand helps you be a menace the lower your health pool is. Resolve’s Bone Plating and Overgrowth make
            you tankier and increase your health pool the longer the game goes.
        </p>
        <br />
        <img src="~/img/RunesAndSpells/Bruiser.png" alt="Resolve Runes" class="img-guides" style="width: 100%" />
        <br />
        <br />

        <!--Runes for AP damage dealers -->
        <h4><b>Runes for AP damage dealers</b></h4>
        <br />
        <p>
            AP dealers will want to go for the Sorcery path to gain more poke damage and CDR, which Inspiration will add more of
            as a secondary path. Movement runes help with easier roams and more sufficient movement in lane trades. If your champion
            relies heavily on mana, picking Manaflow Band instead of Nimbus Cloak is a good idea.
        </p>
        <br />
        <img src="~/img/RunesAndSpells/ap.png" alt="Resolve Runes" class="img-guides" style="width: 100%" />
        <br />
        <br />
        <!--Runes for AD damage dealers -->
        <h4><b>Runes for AD damage dealers</b></h4>
        <br />
        <p>
            The goal with AD damage dealers is practically the same. Irelia and Fiora want the Precision path. Any of the offered
            keystones work with this playstyle since they focus on dealing damage. Conqueror is a good general pick since it helps
            increases your damage overall and has a great healing effect. Most AD champions shine with attack speed and sustain,
            which is what Precision and Inspiration are offering with Biscuit Delivery and Time Warp Tonic.
        </p>
        <br />
        <img src="~/img/RunesAndSpells/ad.png" alt="Resolve Runes" class="img-guides" style="width: 100%" />
        <br />
        <br />

        <!-- MID LANE RUNES-->
        <h2 style="margin-top: 10px"><strong>MID LANE RUNES</strong></h2>
        <br />
        <p>
            Mid laners are carries, meaning they’re the ones who, alongside ADCs, need to take down enemies. The mid lane is played
            dynamically with a lot of poke in the lane along with participation in fights for jungle objectives.
        </p>
        <br />
        <!--Runes for AP mid laners-->
        <h4><b>Runes for AP mid laners</b></h4>
        <br />
        <p>
            From that perspective, runes need to be built for the highest burst potential, which is done with the Domination path.
            Along with Inspiration as the second pick, these runes give higher damage output and necessary resources for dealing with
            the poke damage coming from the enemy. If you don’t have a way to proc Sudden Impact, then going for Taste of Blood is a
            great alternative to increase your sustain.
        </p>
        <br />
        <img src="~/img/RunesAndSpells/ap_mid.png" alt="Resolve Runes" class="img-guides" style="width: 100%" />
        <br />
        <br />

        <!--Runes for AD mid laners-->
        <h4><b>Runes for AD mid laners</b></h4>
        <br />
        <p>
            The playstyle of AD champions in the mid lane doesn’t differ much from AP champs. As such, these runes follow
            the same, dominant main path. But taking Precision as the secondary path generally fits this role more for easier
            takedowns. Champions like Talon and Zed can also profit more from the Ultimate Hunter rune so they can spam their
            ultimates more often.
        </p>
        <br />
        <img src="~/img/RunesAndSpells/ad_mid.png" alt="Resolve Runes" class="img-guides" style="width: 100%" />
        <br />
        <br />

        <!-- BOT LANE RUNES-->
        <h2 style="margin-top: 10px"><strong>BOT LANE RUNES</strong></h2>
        <br />
        <br />
        <!--Runes for ADCs-->
        <h4><b>Runes for ADCs</b></h4>
        <br />
        <p>
            Just like with top laners, ADCs focus on damage output, attack speed, and lifesteal, so they also fit with the
            Precision path. Again, all keystones work just as good, so feel free to pick what you feel suits your champion
            the most, whether it’s Caitlyn, Ashe, or Jhin. For an easier laning phase, it’s recommended to pick Inspiration
            second for the early Biscuits, which will ensure you get to stay in lane longer.
        </p>
        <br />
        <img src="~/img/RunesAndSpells/ad_bot.png" alt="Resolve Runes" class="img-guides" style="width: 100%" />
        <br />
        <br />
        <!--Runes for tank supports-->
        <h4><b>Runes for tank supports</b></h4>
        <br />
        <p>
            Your bot lane duo will be grateful if you pick a tanky support to protect your carry and control the fights.
            Runes that fit champions like Nautilus, Blitzcrank, and Leona fall under the Resolve path that strengthens
            supports’ engaging abilities. As a secondary path, Inspiration will provide assets for an easier laning phase.
        </p>
        <br />
        <img src="~/img/RunesAndSpells/sup_bot.png" alt="Resolve Runes" class="img-guides" style="width: 100%" />
        <br />
        <br />

        <!--Runes for buff supports-->
        <h4><b>Runes for buff supports</b></h4>
        <br />
        <p>
            If tankiness isn’t your forte and you’d rather go for more poke-oriented champions like Morgana or Janna, you should
            pick the Sorcery path. Sorcery allows you to get the most out of your poke with more damage and mana. Inspiration is
            a good secondary path to choose for almost any role, including this one. But if your champion excels at healing and
            shielding, Resolve is a good alternative. Additionally, if you’re looking to grab kills and be an aggressive support,
            feel free to pick Domination, too. It’s a versatile role.
        </p>
        <br />
        <img src="~/img/RunesAndSpells/sup_buff.png" alt="Resolve Runes" class="img-guides" style="width: 100%" />
        <br />
        <br />

        <!-- JUNGLE RUNES-->
        <h2 style="margin-top: 10px"><strong>JUNGLE RUNES</strong></h2>
        <br />
        <p>
            Taking on the role of jungler means you need to be able to quickly clear your camps and help the laners win or defend
            their lanes, whether you do it with the burst from damage output or sustain and crowd control from tankier champions.
        </p>
        <br />

        <!--Runes for jungle bruisers-->
        <h4><b>Runes for jungle bruisers</b></h4>
        <br />
        <p>
            Are Elise, Graves, and Rek’Sai among your favorite jungle picks? Do you like being the jungler who can carry the team as a
            dominant force? If yes, then these runes are for you. A dominant force calls for the Domination path, which, paired with
            Sorcery, makes for fast movement in the jungle and high damage for ganks.
        </p>
        <br />
        <img src="~/img/RunesAndSpells/jg_bruisers.png" alt="Resolve Runes" class="img-guides" style="width: 100%" />
        <br />
        <br />

        <!--Runes for jungle tanks-->
        <h4><b>Runes for jungle tanks</b></h4>
        <br />
        <p>
            If, however, you’d rather be a force that no one can kill and will make sure the backline stays safe, Resolve is the
            path to go. It’ll make under-tower ganks easier and the jungler a lot tankier. Tanky junglers like Zac or Sejuani go
            well with Inspiration as a secondary path, receiving free boots and increasing your overall cooldown reduction.
        </p>
        <br />
        <img src="~/img/RunesAndSpells/jg_tank.png" alt="Resolve Runes" class="img-guides" style="width: 100%" />
        <br />
        <br />
    </div>
</div>
